<h1>Routines</h1>
  
<a href="/routines/new" class="btn btn-default">Create new routine</a>

<ul class="list-group">
<% @routines.each do |routine| %>
  <li class="list-group-item">
  <a href="/routines/<%= routine.id %>" class="btn btn-default">View Routine</a>
    <p>Name: <%= routine.name %></p>
    <p>Difficulty: <%= routine.difficulty %></p>
    <p>Duration: <%= routine.duration %></p>
    <p>Description: <%= routine.description %></p>
    <% if routine.user %>
    <p>User: <%= routine.user.username %></p>
    <% end %>
  </li>
  <button type="submit" class="btn btn-default"><a href="/routines/<%= routine.id %>/edit">Edit</a></button>

 <form method="post" action="/routines/<%= routine.id %>/delete"> 
     <input type="hidden" name="_method" value="delete">
     <button type="submit">Delete</button>
  </form>
<% end %>
</ul>