<h1>Routines</h1>
  
<a href="/routines/new" class="btn btn-default">Create new routine</a>

<ul class="list-group">
<% @routines.each do |routine| %>
  <li class="list-group-item">
  <a href="/routines/:id" class="btn btn-default">View Routine</a>
    <p>Name: <%= routine.name %></p>
    <p>Difficulty: <%= routine.difficulty %></p>
    <p>Duration: <%= routine.duration %></p>
    <p>User: <%= routine.user_id %></p>
    <p>Description: <%= routine.description %></p>
  </li>
<% end %>
</ul>