<h2>Register</h2>
<section class="session"></section>
<% @user.errors.full_messages.each do |error| %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= error %>
  </div>
<% end %>

<br>
<br>
<form id="register" method="post" action="/register" enctype="multipart/form-data">
  <div class="form-group">
    <label for="username" class="photo_style">Username</label>
    <input name="user[username]" type="text" class="form-control" id="username" placeholder="Username">
  </div>

  <div class="form-group">
    <label for="password" class="photo_style">Password</label>
    <input name="user[password]" type="password" class="form-control" id="password" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="age" class="photo_style">DOB</label>
    <input name="user[age]" type="text" class="form-control" id="user_age" placeholder="DD/MM/YY" value="<%= @user.age %>">
  </div>

  <div class="form-group">
    <label for="level" class="photo_style">Level</label>
    <input name="user[level]" type="text" class="form-control" id="user_level" placeholder="beginner/intermediate/expert" value="<%= @user.level %>">
  </div>

  <div align="center">
    <select name="user[gender]" class="edit_button">
      <option name="user[gender]" value="<%= @user.gender %>" >Male</option>
      <option name="user[gender]" value="<%= @user.gender %>">Female</option>
      <option name="user[gender]" value="<%= @user.gender %>">Both</option>
    </select>
  </div>

  <div class="form-group">
    <label for="user[photo]" class="photo_style">Photo</label>
    <input name="user[photo]" type="file" class="choose_file">
  </div>


  
  <button type="submit" class="edit_button">Register</button>
</form>