<div id="user_profile">
<% if !@user.photo.url.nil? %>
  <img src="<%= @user.photo.url %>">
<% end %>
<h2>Username: <%= @user.username %></h2>
<h2>Gender: <%= @user.gender %></h2>
<h2>DOB: <%= @user.age %></h2>
<h2>Level: <%= @user.level %></h2>
</div>

