<h1 class="header">User: <span style="color: orange"><%= @user.username %></span></h1>
<br>
<br>
<div id="user_profile">
<% if !@user.photo.url.nil? %>
  <img src="<%= @user.photo.url %>" class="img-rounded" width="140" height="120">
<% end %>
<h2 class="user-info">Username: <%= @user.username %></h2>
<h2 class="user-info">Gender: <%= @user.gender %></h2>
<h2 class="user-info">DOB: <%= @user.age %></h2>
<h2 class="user-info">Level: <%= @user.level %></h2>
</div>

