<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= css :application%>
  <%= js :application%>
</head>
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href=/exercises>Exercises</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Routines<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/routines">View Routines</a></li>
            <li><a href="/routines/new">Create Routine</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if is_logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/<%= current_user.id %>/edit">Edit User Information</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>

        </li>
      <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
</header>
<body>
  <main class="container">
    <%= styled_flash %>
    <%= yield %>
  </main>
</body>
</html>