<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= css :application%>
  <%= js :application%>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="social">
    <ul>
      <li><a href="https://www.facebook.com/WorldCalisthenicsOrganization/"><i class="fa fa-lg fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/barstarzz?lang=en-gb"><i class="fa fa-lg fa-twitter"></i></a></li>
      <li><a href="https://plus.google.com/communities/111772598172583173268"><i class="fa fa-lg fa-google-plus"></i></a></li>
    </ul>
  </div>
  <header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href=/exercises><font class="layout_font">Exercises</font></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font class="layout_font">Routines</font><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/routines"><font class="layout_font">View Routines</font></a></li>
              <li><a href="/routines/new"><font class="layout_font">Create Routine</font></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if is_logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font class="layout_font"><%= current_user.username %></font><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users/<%= current_user.id %>/edit"><font class="layout_font">Edit User Information</font></a></li>
              <li><a href="/users/<%= current_user.id %>"><font class="layout_font">View User</font></a></li>
              <li><a href="/logout"><font class="layout_font">Logout</font></a></li>
            </ul>
          </li>
        <% else %>
          <li><a href="/login"><font class="layout_font">Login</font></a></li>
          <li><a href="/register"><font class="layout_font">Register</font></a></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
  </header>
  <main class="container">
    <%= styled_flash %>
    <%= yield %>
  </main>
</body>
</html>